@import "~@angular/material/prebuilt-themes/purple-green.css";
@import 'variables.scss';

a {
  color: white;
}
a:hover {
  color: $light-green;
}
.wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 1em 0;
  min-height: 75vh;
}
nav, footer {
  background-color: $dark-green;
  height: 100px;
}
